@font-face {
    font-family: Gudea;
    src: url('./fonts/Gudea-Regular.ttf');
}
@font-face {
    font-family: ContrailOne;
    src: url('./fonts/ContrailOne-Regular.ttf');
}
@font-face {
    font-family: Goldman;
    src: url('./fonts/Goldman-Regular.ttf');
}
@font-face {
    font-family: Geo;
    src: url('./fonts/Geo-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    /*border: solid orange 1px;*/
}
body{
    background: #2A2727;
    color: #D4C6D1; 
    font-size: 22px;
    font-family: Gudea;
}
h1{
    font-family: Geo;
    font-size: 60px;
    color: #FFFFFF;
    cursor: pointer;
}
h1 > span {
    color:#D42BAB;
    padding: 0;
    margin: 0;
}
h2{
    font-size: 30px;    
    
}
h3{
    font-size: 35px;
}
a{
    text-decoration:none;
    font-family: Geo;
    color:#D42BAB;
}
footer, header {
    background: linear-gradient(#000000, rgba(42,39,39,0.8) ,#000000);
}
ul {
    list-style-type: none;
}
li:hover {
    color: #D42BAB;
    cursor: pointer;
}
li:active {
    color: #981592;
}


    header {
         display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 6px;
    }
        nav{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 10px;
            padding-top: 6px;
        }
            nav > svg {
                cursor: pointer;
                fill: #FFFFFF;
                transform: scale(1.2);
                padding-left: 4px;
                padding-right: 4px;
            }
            nav > svg:hover{
                fill: #D42BAB;
            }
            nav > svg:active{
                fill: #981592;
            }
        .search {
            width: 80%;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 50px;
        }
        .search > svg {
            fill: #2A2727;
            position: relative;
            top: 4px;
            left: 12px;

        }
    .breadcrumbs {
        background: #000000;
        font-size: 16px;
        padding: 4px 0 4px 20px;
        border-style: solid;
        border-image: linear-gradient(to right, #D42BAB, #000000,#D42BAB)0.5;
        border-left: none;
        border-right: none;
        border-width: 1px;
    }

    .carrousel {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 3px 0 0 10px;
        margin: 10px 10px 10px 10px;
        height: 150px;
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(to top left,  #D42BAB,#000000, #D42BAB, #000000)0.5;
    }

    footer {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    }
        .footer-container{
            padding: 30px 15px 0 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
            .footer-container > div {
                padding: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 32%;
            }
                .footer-container > div > h3 {
                    padding-bottom: 13px;
                }
        .copyright {
            padding: 4px 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
            .copyright > ul {
                display: flex;
            } 
            .copyright > ul > li {
                padding: 0 10;
            }
            .copyright > ul > p {
                padding-left: 5px;
                padding-right: 5px;
            }