@font-face {
    font-family: Gudea;
    src: url('./fonts/Gudea-Regular.ttf');
}
@font-face {
    font-family: ContrailOne;
    src: url('./fonts/ContrailOne-Regular.ttf');
}
@font-face {
    font-family: Goldman;
    src: url('./fonts/Goldman-Regular.ttf');
}
@font-face {
    font-family: Geo;
    src: url('./fonts/Geo-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    /*order: solid orange 1px;*/
}
body{
    background: #2A2727;
    color: #D4C6D1; 
    font-size: 22px;
    font-family: Gudea;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "grid-item1 grid-item1"
    "grid-item2 grid-item2"
    "grid-item3 grid-item3"
    "grid-item4 grid-item4"
    "grid-item5 grid-item5";
}
.grid-item1{
    grid-area: grid-item1;
}
.grid-item2{
    grid-area: grid-item2;
}
.grid-item3{
    grid-area: grid-item3;
}
.grid-item4{
    grid-area: grid-item4;
}
.grid-item5{
    grid-area: grid-item5;
}

h1{
    font-family: Geo;
    font-size: 60px;
    color: #FFFFFF;
    cursor: pointer;
}
h1 > span {
    color:#D42BAB;
    padding: 0;
    margin: 0;
}
h2{
    font-size: 30px;  
    margin-left: 9px;  
    
}
h3{
    font-size: 35px;
}
a{
    text-decoration:none;
    font-family: Geo;
    color:#D42BAB;
}
footer, header {
    background: linear-gradient(#000000, rgba(42,39,39,0.8) ,#000000);
}
ul {
    list-style-type: none;
}
li:hover {
    color: #D42BAB;
    cursor: pointer;
}
li:active {
    color: #981592;
}


    header {
         display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 6px;
    }
        nav{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 10px;
            padding-top: 6px;
        }
            nav > svg {
                cursor: pointer;
                fill: #FFFFFF;
                transform: scale(1.2);
                padding-left: 4px;
                padding-right: 4px;
            }
            nav > svg:hover{
                fill: #D42BAB;
            }
            nav > svg:active{
                fill: #981592;
            }
        .search {
            width: 80%;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 50px;
        }
        .search > svg {
            fill: #2A2727;
            position: relative;
            top: 4px;
            left: 12px;

        }
    .breadcrumbs {
        justify-content: center;
        align-items: center;
        background: #000000;
        font-size: 16px;
        padding: 4px 0 4px 20px;
        border-style: solid;
        border-image: linear-gradient(to right, #D42BAB, #000000,#D42BAB)0.5;
        border-left: none;
        border-right: none;
        border-width: 1px;
    }

    .main{
        width: 100%;
    }

    .carrousel {
        padding: 3px 0 0 10px;
        margin: 10px 10px 10px 10px;
        height: 250px;
        /*Esto despues se saca*/
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(to top left,  #D42BAB,#000000, #D42BAB, #000000)0.5;
        overflow: hidden;
    }

    .carrousel2 {
        padding: 3px 0 0 10px;
        margin: 10px 10px 10px 10px;
        height: 250px;
        /*Esto despues se saca*/
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(to top left,  #D42BAB,#000000, #D42BAB, #000000)0.5;
        overflow: hidden;
    }

    .carrousel3 {
        padding: 3px 0 0 10px;
        margin: 10px 10px 10px 10px;
        height: 250px;
        /*Esto despues se saca*/
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(to top left,  #D42BAB,#000000, #D42BAB, #000000)0.5;
        overflow: hidden;
    }

    .carrousel4 {
        padding: 3px 0 0 10px;
        margin: 10px 10px 10px 10px;
        height: 250px;
        /*Esto despues se saca*/
        border-style: solid;
        border-width: 2px;
        border-image: linear-gradient(to top left,  #D42BAB,#000000, #D42BAB, #000000)0.5;
        overflow: hidden;
    }

    footer {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    }
        .footer-container{
            padding: 30px 15px 0 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
            .footer-container > div {
                padding: 10;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 32%;
            }
                .footer-container > div > h3 {
                    padding-bottom: 13px;
                }
        .copyright {
            padding: 4px 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
            .copyright > ul {
                display: flex;
            } 
            .copyright > ul > li {
                padding: 0 10;
            }
            .copyright > ul > p {
                padding-left: 5px;
                padding-right: 5px;
            }


/*estilos del banner*/

.banner{
    width: 100%;
    height: 258px;
}

.banner div{
    position: absolute;
    width: 1280px;
    height: 258px;
}

.caja1{
    background-image: url('imagenes/BannerDefault.png');
    background-size: 100% 100%;
    opacity: 1;
}

.caja2{
    background: url('imagenes/BannerVariant2.png');
    background-size: 100% 100%;
    opacity: 0;
}

.caja1:hover{
    opacity: 0;
    transition: all .45s ease
}

.caja2:hover{
    opacity: 1;
    transition: all .45s ease
}



/* Los estilos de la Card*/

.categoria {
    top: 460px;
    display: grid;
    grid-template-columns: repeat(10, 120px);
    grid-gap: 50px;
    position: absolute;
    left: 9;
    pointer-events: none;
    overflow: hidden;
    cursor: grab;
}

.categoria img{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-right: 10px;

    object-fit: cover;
    flex-wrap: wrap;
}

.datos{
    width: 150px;
    height: 40px;
    background-color: black;
    backdrop-filter: blur(1px);
    color: white;

    display: grid;
    justify-content: left;
    align-items: center;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-size: 10px;
}

.precio{
    font-size: 10px;
}

.solapa{
    display: flex;
    margin-top: 140px;
    position: absolute;
    width: 150px;
    justify-content: center;
    align-items: center;

    opacity: 100%;
}

.boton{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    margin-left: 90px;
    border: none;
}

.boton:hover{
    background-color:rgba(212, 43, 171, 1);
    scale: 20px;
    border-radius: 10px;
}


.categoria2{
    display: grid;
    grid-template-columns: repeat(10, 120px);
    grid-gap: 50px;
    position: absolute;
    left: 9;
    pointer-events: none;
    overflow: hidden;
    cursor: grab;
}

.categoria2 img{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-right: 10px;

    object-fit: cover;
    flex-wrap: wrap;
}

.categoria3{
    display: grid;
    grid-template-columns: repeat(10, 120px);
    grid-gap: 50px;
    position: absolute;
    left: 9;
    pointer-events: none;
    overflow: hidden;
    cursor: grab;
}

.categoria3 img{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-right: 10px;

    object-fit: cover;
    flex-wrap: wrap;
}

.categoria4{
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-gap: 20px;
    position: absolute;
    left: 9;
    pointer-events: none;
    overflow: hidden;
    cursor: grab;
}

.categoria4 img{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    margin-right: 10px;

    object-fit: cover;
    flex-wrap: wrap;
}
